webapp3/cliente/src/wsdl/localhost_8080/BusquedaWS/BusquedaWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.webapp.isdcm/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.webapp.isdcm/" name="BusquedaWS">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.webapp.isdcm/" schemaLocation="http://localhost:8080/BusquedaWS/BusquedaWS?xsd=1"/>
</xsd:schema>
</types>
<message name="busquedaPorTitulo">
<part name="parameters" element="tns:busquedaPorTitulo"/>
</message>
<message name="busquedaPorTituloResponse">
<part name="parameters" element="tns:busquedaPorTituloResponse"/>
</message>
<message name="busquedaPorAutor">
<part name="parameters" element="tns:busquedaPorAutor"/>
</message>
<message name="busquedaPorAutorResponse">
<part name="parameters" element="tns:busquedaPorAutorResponse"/>
</message>
<message name="busquedaPorFechaDeCreacion">
<part name="parameters" element="tns:busquedaPorFechaDeCreacion"/>
</message>
<message name="busquedaPorFechaDeCreacionResponse">
<part name="parameters" element="tns:busquedaPorFechaDeCreacionResponse"/>
</message>
<message name="busquedaVideo">
<part name="parameters" element="tns:busquedaVideo"/>
</message>
<message name="busquedaVideoResponse">
<part name="parameters" element="tns:busquedaVideoResponse"/>
</message>
<message name="searchMyVideos">
<part name="parameters" element="tns:searchMyVideos"/>
</message>
<message name="searchMyVideosResponse">
<part name="parameters" element="tns:searchMyVideosResponse"/>
</message>
<portType name="BusquedaWS">
<operation name="busquedaPorTitulo">
<input wsam:Action="http://soap.webapp.isdcm/BusquedaWS/busquedaPorTituloRequest" message="tns:busquedaPorTitulo"/>
<output wsam:Action="http://soap.webapp.isdcm/BusquedaWS/busquedaPorTituloResponse" message="tns:busquedaPorTituloResponse"/>
</operation>
<operation name="busquedaPorAutor">
<input wsam:Action="http://soap.webapp.isdcm/BusquedaWS/busquedaPorAutorRequest" message="tns:busquedaPorAutor"/>
<output wsam:Action="http://soap.webapp.isdcm/BusquedaWS/busquedaPorAutorResponse" message="tns:busquedaPorAutorResponse"/>
</operation>
<operation name="busquedaPorFechaDeCreacion">
<input wsam:Action="http://soap.webapp.isdcm/BusquedaWS/busquedaPorFechaDeCreacionRequest" message="tns:busquedaPorFechaDeCreacion"/>
<output wsam:Action="http://soap.webapp.isdcm/BusquedaWS/busquedaPorFechaDeCreacionResponse" message="tns:busquedaPorFechaDeCreacionResponse"/>
</operation>
<operation name="busquedaVideo">
<input wsam:Action="http://soap.webapp.isdcm/BusquedaWS/busquedaVideoRequest" message="tns:busquedaVideo"/>
<output wsam:Action="http://soap.webapp.isdcm/BusquedaWS/busquedaVideoResponse" message="tns:busquedaVideoResponse"/>
</operation>
<operation name="searchMyVideos">
<input wsam:Action="http://soap.webapp.isdcm/BusquedaWS/searchMyVideosRequest" message="tns:searchMyVideos"/>
<output wsam:Action="http://soap.webapp.isdcm/BusquedaWS/searchMyVideosResponse" message="tns:searchMyVideosResponse"/>
</operation>
</portType>
<binding name="BusquedaWSPortBinding" type="tns:BusquedaWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="busquedaPorTitulo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="busquedaPorAutor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="busquedaPorFechaDeCreacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="busquedaVideo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchMyVideos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BusquedaWS">
<port name="BusquedaWSPort" binding="tns:BusquedaWSPortBinding">
<soap:address location="http://localhost:8080/BusquedaWS/BusquedaWS"/>
</port>
</service>
</definitions>